body{
    font-family: 'Lato', 'Open Sans', 'Segoe UI';
    background-image:url("restavracija.png");
    background-color: #f5f1ec;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding :0;
}
.vse{
background-color:#ffffff;
    margin: auto;
    width:70%;
    padding: 20px;
    border-radius: 10px;
}
p{
    padding-left:5%;
    color:#2e2e2e;
}
h1 , h2{
    color:#3e2f23
}

a{
  background-color: #6C63FF;  /* npr. vijolična */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
a:hover {
  background-color: #5753c9;
}
.meni{
  padding: 10px;
  margin: 0;
  border:#2e2e2e 1px;
  background-color: brown;
}
.desno{
  margin-left:650px;
}
.levo{
  
}

#notranji{
  margin-top:60px;
  text-align: center;
}





