body{
    background-color: olive;
    font-family: Arial, sans-serif;
    background-image:url("restavracija.png");
}
.vse{
    background-color: midnightblue;
    margin: auto;
    width:70%;
    padding: 20px;
    border-radius: 10px;
    

}
p{
    padding-left:5%;
}