body{
    font-family: 'Lato', 'Open Sans', 'Segoe UI';
    background-image:url("restavracija.png");
    background-color: #f5f1ec;
    /*chat-gpt pomoč */
    background-repeat: no-repeat;
    background-size: cover;
    /*do sem*/
}
.vse{
    background-color:#ffffff;
    margin: auto;
    width:70%;
    padding: 20px;
    border-radius: 10px;
    

}
p{
    padding-left:5%;
    color:#2e2e2e;
}
h1 , h2{
    color:#3e2f23
}

a{
  text-decoration: none;
  border: 1px solid #4b4948;
  padding: 2px 6px;
  border-radius: 7px;
}
a:hover {
  background-color: #a57f60;
}
.desno{
    float:right;
    margin-right: 2%;
}
.meni{
  border-bottom: #2e2e2e 1px solid;
  padding: 10px;
}